<!-- Login Stuff -->
<!-- <a href="#" ng-click="fbLogin()">FB Login</a>
<a href="#" ng-click="fbLogout()">FB Logout</a> -->

<div class="home-background">
	<div class="row">
		<div class="small-4 small-centered columns">
			<h1 class="home-page">Code<br> Sync</h1>
		</div><!-- close column-->
	</div><!-- close row-->
	<div class="row">
		<div class="small-4 small-centered columns">
			<p class="sub">learn together</p>
		</div><!-- close column -->
	</div> <!-- close row -->
</div><!-- close background -->
<div class="row">
  <div class="small-4 small-centered columns">
	<button href="#" ng-click="fbLogin()">Log in with Facebook</button>
	</div>
</div>